<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    
<br>
<div class="container white">
    <br>
    <h3 class="black-text center">Register</h3>
    <div class="container">
        <div>
            <form autocomplete="off" action="/users/register" method="POST">
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s6">
                        <input name="eid" type="text" required <% if(typeof prevInput != 'undefined') { %> 
                            value = "<%= prevInput.eid %>" <% } %> >
                        <label for="eid">Employee ID</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="name" type="text" required <% if(typeof prevInput != 'undefined') { %>
                            value = "<%= prevInput.name %>" <% } %> >
                            
                        <label for="name">Name</label>
                    </div>
                </div>
    
                    <div class="input-field"  style="margin-top:0;">
                        <input name="email" type="email" class="validate" required <% if(typeof prevInput != 'undefined') { %>
                            value = "<%= prevInput.email %>" <% } %> >
                            
                        <label for="email">Email</label>
                    </div>
                
                
                    <div class="input-field">
                        <input name="password" type="password" class="validate" required <% if(typeof prevInput != 'undefined') { %>
                            value="<%= prevInput.password %>" <% } %> >
                        <label for="password">Password</label>
                    </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password2" type="password" class="validate" required <% if(typeof prevInput != 'undefined') { %>
                            value="<%= prevInput.password2 %>"<% } %> >
                        <label for="password">Confirm Password</label>
                    </div>
                </div>
                <button type="submit" class="btn light-blue darken-3">Register</button>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
</body>
</html>